* {
	box-sizing: border-box;
	margin: 0; 
}
section {
	display: block;
}
.header {
	text-align: center;
}
.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}
.addTask {
	text-align: center;
}
.center {
	text-align: center;
}
.completed-list, .todo-list {
	list-style-type: none;
	padding: 10px 5px;
}
.task {
	display: flex;
	flex: 1 1;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	justify-content: space-between;
}